In [588]:
import pandas as pd
import numpy as np
import openpyxl as op
from bs4 import BeautifulSoup
import requests

#**Entendendo o Dataframe**

In [589]:
dados = pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/refs/heads/master/atp_matches_2021.csv')

In [590]:
dados.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0

In [591]:
dados.dtypes

tourney_id             object
tourney_name           object
surface                object
draw_size               int64
tourney_level          object
tourney_date            int64
match_num               int64
winner_id               int64
winner_seed           float64
winner_entry           object
winner_name            object
winner_hand            object
winner_ht             float64
winner_ioc             object
winner_age            float64
loser_id                int64
loser_seed            float64
loser_entry            object
loser_name             object
loser_hand             object
loser_ht              float64
loser_ioc              object
loser_age             float64
score                  object
best_of                 int64
round                  object
minutes               float64
w_ace                 float64
w_df                  float64
w_svpt                float64
w_1stIn               float64
w_1stWon              float64
w_2ndWon              float64
w_SvGms               float64
w_bpSaved             float64
w_bpFaced             float64
l_ace                 float64
l_df                  float64
l_svpt                float64
l_1stIn               float64
l_1stWon              float64
l_2ndWon              float64
l_SvGms               float64
l_bpSaved             float64
l_bpFaced             float64
winner_rank           float64
winner_rank_points    float64
loser_rank            float64
loser_rank_points     float64
dtype: object

Observando, percebi que existem dados nulos e categóricos

Usando o .describe(), eu tenho uma idéia dos dados que eu tenho e a distribuição deles (Inclusive as categóricas)

In [592]:
dados.describe(include='all')

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
count,2733,2733,2733,2733.000000,2733,2.733000e+03,2733.000000,2733.000000,1165.000000,417,...,2636.000000,2636.000000,2636.000000,2637.000000,2636.000000,2636.000000,2729.000000,2729.000000,2707.000000,2707.000000
unique,114,114,3,NaN,5,NaN,NaN,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2021-540,Wimbledon,Hard,NaN,A,NaN,NaN,NaN,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,127,127,1608,NaN,1569,NaN,NaN,NaN,NaN,234,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,62.609587,NaN,2.021060e+07,243.248811,127500.755946,7.687554,NaN,...,50.118361,33.325493,14.494689,12.420554,4.843323,8.714719,70.593624,2229.913888,103.034355,1390.971555
std,NaN,NaN,NaN,41.521804,NaN,2.855522e+02,73.915192,33930.996942,7.133621,NaN,...,19.075552,14.205041,6.857036,4.224477,3.253624,4.126347,103.028379,2484.822372,149.125316,1460.007475
min,NaN,NaN,NaN,2.000000,NaN,2.021010e+07,1.000000,100644.000000,1.000000,NaN,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,NaN,NaN,NaN,32.000000,NaN,2.021032e+07,224.000000,105575.000000,3.000000,NaN,...,36.000000,23.000000,10.000000,9.000000,2.000000,6.000000,19.000000,858.000000,37.000000,709.000000
50%,NaN,NaN,NaN,64.000000,NaN,2.021061e+07,276.000000,106432.000000,6.000000,NaN,...,47.000000,31.000000,14.000000,11.000000,4.000000,8.000000,47.000000,1344.000000,68.000000,993.000000
75%,NaN,NaN,NaN,128.000000,NaN,2.021082e+07,289.000000,128034.000000,10.000000,NaN,...,61.000000,42.000000,18.000000,15.000000,7.000000,11.000000,87.000000,2423.000000,112.000000,1595.000000
max,NaN,NaN,NaN,128.000000,NaN,2.021120e+07,300.000000,210107.000000,32.000000,NaN,...,165.000000,104.000000,48.000000,31.000000,27.000000,38.000000,1758.000000,12113.000000,2146.000000,12113.000000

Checando por valores nulos usando .isnull() que retorna uma lista booleana com os dados que são nulos.

Isso pode ajudar, mas em dataframes grandes(como esse), é impossível analisar tudo simplesmente olhando, então usamos o .isnull() em conjunto com o .sum() para somar todos os nulos e descobrirmos rapidamente se temos nulos ou não.

In [593]:
dados.isnull()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
4,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2729,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2730,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2731,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2732,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False

In [594]:
dados.isnull().sum() #Usando o comando is .null + .sum, eu consigo ter idéia de quais colunas estão vazias ou faltando muitos valores

tourney_id               0
tourney_name             0
surface                  0
draw_size                0
tourney_level            0
tourney_date             0
match_num                0
winner_id                0
winner_seed           1568
winner_entry          2316
winner_name              0
winner_hand              0
winner_ht                2
winner_ioc               0
winner_age               0
loser_id                 0
loser_seed            2040
loser_entry           2098
loser_name               0
loser_hand               0
loser_ht                15
loser_ioc                0
loser_age                0
score                    0
best_of                  0
round                    0
minutes                 83
w_ace                   97
w_df                    97
w_svpt                  97
w_1stIn                 97
w_1stWon                97
w_2ndWon                97
w_SvGms                 96
w_bpSaved               97
w_bpFaced               97
l_ace                   97
l_df                    97
l_svpt                  97
l_1stIn                 97
l_1stWon                97
l_2ndWon                97
l_SvGms                 96
l_bpSaved               97
l_bpFaced               97
winner_rank              4
winner_rank_points       4
loser_rank              26
loser_rank_points       26
dtype: int64

Entendendo coluna winner entry:

In [595]:
dados.winner_entry.describe()

count     417
unique      6
top         Q
freq      234
Name: winner_entry, dtype: object

Observando a coluna de winner_entry  (Modo de Entrada do jogador vencedor no torneio), percebemos que a grande maioria dos valores são nulos, pois a maioria dos jogadores entra normalmente no torneio. Entender o causa/motivo de ter tantos nulos é importante tanto para ciência como para a análise e até a engenharia de dados.

In [596]:
dados.winner_entry.unique()

array([nan, 'Q', 'WC', 'LL', 'SE', 'Alt', 'PR'], dtype=object)

Vou apagar todas as linhas que as colunas 'loser_rank' e 'winner_rank' estão nulas, pois são poucas e isso pode causar erros nos resultados

In [597]:
dados.dropna(subset=['loser_rank','winner_rank'],axis=0, inplace=True)
#dropo todas as linhas do subset(atributo) loser_rank,winner_rank, e altero de fato a variável dados, invés de criar uma
#cópia

In [598]:
dados.loser_rank.isnull().sum()

np.int64(0)

In [599]:
dados.winner_rank.isnull().sum()

np.int64(0)

Comando para apagar todas as colunas que todos os valores são nulos, pois elas não tem dados a serem analisados

Nesse dataset não temos colunas totalmente nulas, mas fica de exemplo

In [600]:
dados.dropna(axis=1, how='all',inplace=True) #dropo colunas(axis=1), onde todos os valores são nulos(how='all)

Podemos alterar os dados nulos, invés de simplesmente dropar as linhas que tem valores nulos. Isso é MUITO importante, pois certas análises não permitem droparmos linhas, ou também simplesmente não há necessidade de dropar a linha toda quando podemos simplesmente preencher os dados para realizarmos as análises.

In [601]:
dados.loser_entry.unique()

array([nan, 'PR', 'Q', 'LL', 'WC', 'SE', 'Alt'], dtype=object)

In [602]:
dados.loser_entry.fillna('No Entry', inplace=True) #passo o valor a ser preenchido na variável nula e falo pra alterar de fato a variável

/tmp/ipython-input-46586406.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados.loser_entry.fillna('No Entry', inplace=True) #passo o valor a ser preenchido na variável nula e falo pra alterar de fato a variável

In [603]:
dados.loser_entry.unique()

array(['No Entry', 'PR', 'Q', 'LL', 'WC', 'SE', 'Alt'], dtype=object)

Alterar mais de um atributo de uma vez, com condições diferentes.

Para alterar mais de uma variável de uma vez, podemos usar python dicts e passar as alterações no estilo chave:valor com a coluna e os dados que deverão ser preenchidos nos valores nulos

In [604]:
dados.w_ace.unique()

array([nan,  5.,  1.,  2.,  3.,  6.,  4., 11.,  8., 15.,  9., 20., 12.,
       24., 14., 17., 13., 19., 10.,  7., 16., 18., 22.,  0., 23., 21.,
       32., 26., 25., 27., 28., 29., 41., 34., 30., 44., 33., 49., 31.,
       36.])

In [605]:
dados.loser_ht.unique()

array([180., 183., 185., 193., 191., 173., 170., 188., 178., 196., 198.,
       175., 181., 211., 208., 201., 190., 203.,  nan,  15.])

In [606]:
dados.fillna(value={'w_ace':0,'loser_ht':dados.loser_ht.mean()},inplace=True) #passo o valor 0 para nulos em w_ace, e a média de altura dos perdedores que não estão nulos para loser_ht

In [607]:
dados.w_ace.unique()

array([ 0.,  5.,  1.,  2.,  3.,  6.,  4., 11.,  8., 15.,  9., 20., 12.,
       24., 14., 17., 13., 19., 10.,  7., 16., 18., 22., 23., 21., 32.,
       26., 25., 27., 28., 29., 41., 34., 30., 44., 33., 49., 31., 36.])

In [608]:
dados.loser_ht.unique()

array([180.        , 183.        , 185.        , 193.        ,
       191.        , 173.        , 170.        , 188.        ,
       178.        , 196.        , 198.        , 175.        ,
       181.        , 211.        , 208.        , 201.        ,
       190.        , 203.        , 186.73945226,  15.        ])

Projetando dados anterior em valores nulos usando o method ffill

In [609]:
dados.minutes[2650:2700]

2659    141.0
2660    136.0
2661     64.0
2662    125.0
2663     80.0
2664     73.0
2666     73.0
2667    128.0
2668     49.0
2669     84.0
2670     95.0
2671     66.0
2672    117.0
2673     97.0
2674     81.0
2675     69.0
2682     69.0
2683    113.0
2684     63.0
2685     85.0
2686     81.0
2687    104.0
2688     68.0
2689     86.0
2690     75.0
2691     57.0
2692    189.0
2697    142.0
2698     93.0
2699     88.0
2700     72.0
2701     75.0
2702    187.0
2704      NaN
2705      NaN
2706      NaN
2707      NaN
2709      NaN
2710     37.0
2716     74.0
2717     53.0
2718     80.0
2719     70.0
2720     80.0
2721    140.0
2722     90.0
2723     88.0
2724    124.0
2725     65.0
2727      NaN
Name: minutes, dtype: float64

In [644]:
dados.minutes = dados.minutes.fillna(method='ffill')

/tmp/ipython-input-1344358073.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dados.minutes = dados.minutes.fillna(method='ffill')

In [611]:
dados.minutes[2650:2700]

2659    141.0
2660    136.0
2661     64.0
2662    125.0
2663     80.0
2664     73.0
2666     73.0
2667    128.0
2668     49.0
2669     84.0
2670     95.0
2671     66.0
2672    117.0
2673     97.0
2674     81.0
2675     69.0
2682     69.0
2683    113.0
2684     63.0
2685     85.0
2686     81.0
2687    104.0
2688     68.0
2689     86.0
2690     75.0
2691     57.0
2692    189.0
2697    142.0
2698     93.0
2699     88.0
2700     72.0
2701     75.0
2702    187.0
2704    187.0
2705    187.0
2706    187.0
2707    187.0
2709    187.0
2710     37.0
2716     74.0
2717     53.0
2718     80.0
2719     70.0
2720     80.0
2721    140.0
2722     90.0
2723     88.0
2724    124.0
2725     65.0
2727     65.0
Name: minutes, dtype: float64

Identificando dados duplicados

In [612]:
dados.duplicated() #olha indice por indice e usa padrão booleano para falar quais linhas são duplicadas

0       False
1       False
2       False
3       False
4       False
        ...
2728    False
2729    False
2730    False
2731    False
2732    False
Length: 2705, dtype: bool

In [613]:
dados.duplicated().sum() #Soma todos os duplicados para facilitar a análise

np.int64(0)

Eliminar duplicados

In [614]:
dados.drop_duplicates(subset=['tourney_name'],inplace=True) #Dropo todas as linhas com os nomes de torneios duplicados

In [615]:
dados.tourney_name

0                     Tokyo Olympics
64                            Munich
91                      Queen's Club
122                           Gstaad
149                          Newport
                    ...
2710    Davis Cup WG2 R1: RSA vs VEN
2716    Davis Cup WG2 R1: SUI vs EST
2720    Davis Cup WG2 R1: THA vs DEN
2724    Davis Cup WG2 R1: TUR vs LAT
2727                       Laver Cup
Name: tourney_name, Length: 110, dtype: object

Nessa etapa, é usada uma base de dados de stock price diários da Apple. Como não consegui baixar o arquivo disponibilizado, realizei o web scrapping do histórico de ações da apple para uso nos testes. Também tive problema em realizar a requisição .get(), então copiei o arquivo html manualmente da página.

In [616]:
html_puro = '''<table class="historical_data_table table">
				<thead>
				  <tr>
					<th colspan="7" style="text-align:center;">Apple Historical Annual Stock Price Data</th>
				  </tr>
				</thead>
				<thead>
				  <tr>
					<th style="text-align:center;">Year</th>
					<th style="text-align:center;">Average Stock Price</th>
					<th style="text-align:center;">Year Open</th>
					<th style="text-align:center;">Year High</th>
					<th style="text-align:center;">Year Low</th>
					<th style="text-align:center;">Year Close</th>
					<th style="text-align:center;">Annual % Change</th>
				  </tr>
				</thead>
				<tbody>





				<tr>
					<td style="text-align:center">2026</td>
					<td style="text-align:center;">261.9255</td>
					<td style="text-align:center;">270.7570</td>
					<td style="text-align:center;">277.8600</td>
					<td style="text-align:center;">246.4690</td>
					<td style="text-align:center;">255.3300</td>
					<td style="text-align:center; color:red">-5.99%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2025</td>
					<td style="text-align:center;">231.5630</td>
					<td style="text-align:center;">242.5250</td>
					<td style="text-align:center;">285.9220</td>
					<td style="text-align:center;">171.6720</td>
					<td style="text-align:center;">271.6060</td>
					<td style="text-align:center; color:green">9.05%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2024</td>
					<td style="text-align:center;">205.6467</td>
					<td style="text-align:center;">183.7310</td>
					<td style="text-align:center;">257.6130</td>
					<td style="text-align:center;">163.5120</td>
					<td style="text-align:center;">249.0590</td>
					<td style="text-align:center; color:green">30.70%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2023</td>
					<td style="text-align:center;">170.3514</td>
					<td style="text-align:center;">123.0960</td>
					<td style="text-align:center;">196.0730</td>
					<td style="text-align:center;">123.0470</td>
					<td style="text-align:center;">190.5510</td>
					<td style="text-align:center; color:green">49.01%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2022</td>
					<td style="text-align:center;">151.9453</td>
					<td style="text-align:center;">178.1040</td>
					<td style="text-align:center;">178.1040</td>
					<td style="text-align:center;">124.0510</td>
					<td style="text-align:center;">127.8790</td>
					<td style="text-align:center; color:red">-26.40%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2021</td>
					<td style="text-align:center;">137.5944</td>
					<td style="text-align:center;">125.8570</td>
					<td style="text-align:center;">176.4600</td>
					<td style="text-align:center;">113.3340</td>
					<td style="text-align:center;">173.7590</td>
					<td style="text-align:center; color:green">34.65%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2020</td>
					<td style="text-align:center;">92.4341</td>
					<td style="text-align:center;">72.4005</td>
					<td style="text-align:center;">132.9370</td>
					<td style="text-align:center;">54.2136</td>
					<td style="text-align:center;">129.0470</td>
					<td style="text-align:center; color:green">82.31%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2019</td>
					<td style="text-align:center;">49.9021</td>
					<td style="text-align:center;">37.5037</td>
					<td style="text-align:center;">70.7855</td>
					<td style="text-align:center;">33.7681</td>
					<td style="text-align:center;">70.7855</td>
					<td style="text-align:center; color:green">88.96%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2018</td>
					<td style="text-align:center;">44.5970</td>
					<td style="text-align:center;">40.3042</td>
					<td style="text-align:center;">54.9217</td>
					<td style="text-align:center;">34.8700</td>
					<td style="text-align:center;">37.4610</td>
					<td style="text-align:center; color:red">-5.39%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2017</td>
					<td style="text-align:center;">34.9814</td>
					<td style="text-align:center;">26.7459</td>
					<td style="text-align:center;">41.2775</td>
					<td style="text-align:center;">26.7159</td>
					<td style="text-align:center;">39.5952</td>
					<td style="text-align:center; color:green">48.46%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2016</td>
					<td style="text-align:center;">23.8554</td>
					<td style="text-align:center;">23.7309</td>
					<td style="text-align:center;">27.0903</td>
					<td style="text-align:center;">20.5848</td>
					<td style="text-align:center;">26.6699</td>
					<td style="text-align:center; color:green">12.48%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2015</td>
					<td style="text-align:center;">26.8196</td>
					<td style="text-align:center;">24.2149</td>
					<td style="text-align:center;">29.5945</td>
					<td style="text-align:center;">23.1296</td>
					<td style="text-align:center;">23.7107</td>
					<td style="text-align:center; color:red">-3.01%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2014</td>
					<td style="text-align:center;">20.2674</td>
					<td style="text-align:center;">17.1406</td>
					<td style="text-align:center;">26.3566</td>
					<td style="text-align:center;">15.4874</td>
					<td style="text-align:center;">24.4475</td>
					<td style="text-align:center; color:green">40.62%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2013</td>
					<td style="text-align:center;">14.4816</td>
					<td style="text-align:center;">16.5967</td>
					<td style="text-align:center;">17.6663</td>
					<td style="text-align:center;">11.8742</td>
					<td style="text-align:center;">17.3851</td>
					<td style="text-align:center; color:green">8.07%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2012</td>
					<td style="text-align:center;">17.3021</td>
					<td style="text-align:center;">12.3217</td>
					<td style="text-align:center;">21.1274</td>
					<td style="text-align:center;">12.3217</td>
					<td style="text-align:center;">16.0870</td>
					<td style="text-align:center; color:green">32.57%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2011</td>
					<td style="text-align:center;">10.9067</td>
					<td style="text-align:center;">9.8750</td>
					<td style="text-align:center;">12.6516</td>
					<td style="text-align:center;">9.4479</td>
					<td style="text-align:center;">12.1351</td>
					<td style="text-align:center; color:green">25.56%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2010</td>
					<td style="text-align:center;">7.7857</td>
					<td style="text-align:center;">6.4124</td>
					<td style="text-align:center;">9.7521</td>
					<td style="text-align:center;">5.7544</td>
					<td style="text-align:center;">9.6649</td>
					<td style="text-align:center; color:green">53.07%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2009</td>
					<td style="text-align:center;">4.3990</td>
					<td style="text-align:center;">2.7192</td>
					<td style="text-align:center;">6.3414</td>
					<td style="text-align:center;">2.3431</td>
					<td style="text-align:center;">6.3141</td>
					<td style="text-align:center; color:green">146.90%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2008</td>
					<td style="text-align:center;">4.2541</td>
					<td style="text-align:center;">5.8380</td>
					<td style="text-align:center;">5.8407</td>
					<td style="text-align:center;">2.4117</td>
					<td style="text-align:center;">2.5573</td>
					<td style="text-align:center; color:red">-56.91%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2007</td>
					<td style="text-align:center;">3.8435</td>
					<td style="text-align:center;">2.5109</td>
					<td style="text-align:center;">5.9875</td>
					<td style="text-align:center;">2.4950</td>
					<td style="text-align:center;">5.9351</td>
					<td style="text-align:center; color:green">133.47%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2006</td>
					<td style="text-align:center;">2.1217</td>
					<td style="text-align:center;">2.2397</td>
					<td style="text-align:center;">2.7509</td>
					<td style="text-align:center;">1.5182</td>
					<td style="text-align:center;">2.5421</td>
					<td style="text-align:center; color:green">18.02%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2005</td>
					<td style="text-align:center;">1.3986</td>
					<td style="text-align:center;">0.9482</td>
					<td style="text-align:center;">2.2467</td>
					<td style="text-align:center;">0.9482</td>
					<td style="text-align:center;">2.1540</td>
					<td style="text-align:center; color:green">123.26%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2004</td>
					<td style="text-align:center;">0.5322</td>
					<td style="text-align:center;">0.3188</td>
					<td style="text-align:center;">1.0253</td>
					<td style="text-align:center;">0.3188</td>
					<td style="text-align:center;">0.9648</td>
					<td style="text-align:center; color:green">201.41%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2003</td>
					<td style="text-align:center;">0.2778</td>
					<td style="text-align:center;">0.2217</td>
					<td style="text-align:center;">0.3718</td>
					<td style="text-align:center;">0.1966</td>
					<td style="text-align:center;">0.3201</td>
					<td style="text-align:center; color:green">49.09%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2002</td>
					<td style="text-align:center;">0.2867</td>
					<td style="text-align:center;">0.3491</td>
					<td style="text-align:center;">0.3912</td>
					<td style="text-align:center;">0.2036</td>
					<td style="text-align:center;">0.2147</td>
					<td style="text-align:center; color:red">-34.56%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2001</td>
					<td style="text-align:center;">0.3029</td>
					<td style="text-align:center;">0.2228</td>
					<td style="text-align:center;">0.3983</td>
					<td style="text-align:center;">0.2228</td>
					<td style="text-align:center;">0.3281</td>
					<td style="text-align:center; color:green">47.26%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2000</td>
					<td style="text-align:center;">0.6848</td>
					<td style="text-align:center;">0.8385</td>
					<td style="text-align:center;">1.0801</td>
					<td style="text-align:center;">0.2097</td>
					<td style="text-align:center;">0.2228</td>
					<td style="text-align:center; color:red">-71.07%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1999</td>
					<td style="text-align:center;">0.4327</td>
					<td style="text-align:center;">0.3090</td>
					<td style="text-align:center;">0.8825</td>
					<td style="text-align:center;">0.2411</td>
					<td style="text-align:center;">0.7702</td>
					<td style="text-align:center; color:green">151.21%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1998</td>
					<td style="text-align:center;">0.2290</td>
					<td style="text-align:center;">0.1217</td>
					<td style="text-align:center;">0.3221</td>
					<td style="text-align:center;">0.1189</td>
					<td style="text-align:center;">0.3066</td>
					<td style="text-align:center; color:green">211.90%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1997</td>
					<td style="text-align:center;">0.1346</td>
					<td style="text-align:center;">0.1573</td>
					<td style="text-align:center;">0.2186</td>
					<td style="text-align:center;">0.0969</td>
					<td style="text-align:center;">0.0983</td>
					<td style="text-align:center; color:red">-37.15%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1996</td>
					<td style="text-align:center;">0.1867</td>
					<td style="text-align:center;">0.2406</td>
					<td style="text-align:center;">0.2622</td>
					<td style="text-align:center;">0.1264</td>
					<td style="text-align:center;">0.1564</td>
					<td style="text-align:center; color:red">-34.51%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1995</td>
					<td style="text-align:center;">0.3019</td>
					<td style="text-align:center;">0.2842</td>
					<td style="text-align:center;">0.3677</td>
					<td style="text-align:center;">0.2388</td>
					<td style="text-align:center;">0.2388</td>
					<td style="text-align:center; color:red">-17.31%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1994</td>
					<td style="text-align:center;">0.2508</td>
					<td style="text-align:center;">0.2182</td>
					<td style="text-align:center;">0.3194</td>
					<td style="text-align:center;">0.1849</td>
					<td style="text-align:center;">0.2888</td>
					<td style="text-align:center; color:green">35.14%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1993</td>
					<td style="text-align:center;">0.2973</td>
					<td style="text-align:center;">0.4203</td>
					<td style="text-align:center;">0.4690</td>
					<td style="text-align:center;">0.1646</td>
					<td style="text-align:center;">0.2137</td>
					<td style="text-align:center; color:red">-50.43%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1992</td>
					<td style="text-align:center;">0.3935</td>
					<td style="text-align:center;">0.4256</td>
					<td style="text-align:center;">0.5007</td>
					<td style="text-align:center;">0.3114</td>
					<td style="text-align:center;">0.4311</td>
					<td style="text-align:center; color:green">6.92%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1991</td>
					<td style="text-align:center;">0.3736</td>
					<td style="text-align:center;">0.3083</td>
					<td style="text-align:center;">0.5166</td>
					<td style="text-align:center;">0.2928</td>
					<td style="text-align:center;">0.4032</td>
					<td style="text-align:center; color:green">32.33%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1990</td>
					<td style="text-align:center;">0.2645</td>
					<td style="text-align:center;">0.2607</td>
					<td style="text-align:center;">0.3336</td>
					<td style="text-align:center;">0.1766</td>
					<td style="text-align:center;">0.3047</td>
					<td style="text-align:center; color:green">23.51%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1989</td>
					<td style="text-align:center;">0.2902</td>
					<td style="text-align:center;">0.2799</td>
					<td style="text-align:center;">0.3457</td>
					<td style="text-align:center;">0.2345</td>
					<td style="text-align:center;">0.2467</td>
					<td style="text-align:center; color:red">-11.58%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1988</td>
					<td style="text-align:center;">0.2866</td>
					<td style="text-align:center;">0.3076</td>
					<td style="text-align:center;">0.3261</td>
					<td style="text-align:center;">0.2504</td>
					<td style="text-align:center;">0.2790</td>
					<td style="text-align:center; color:red">-3.36%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1987</td>
					<td style="text-align:center;">0.2669</td>
					<td style="text-align:center;">0.1398</td>
					<td style="text-align:center;">0.4063</td>
					<td style="text-align:center;">0.1398</td>
					<td style="text-align:center;">0.2887</td>
					<td style="text-align:center; color:green">108.45%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1986</td>
					<td style="text-align:center;">0.1110</td>
					<td style="text-align:center;">0.0761</td>
					<td style="text-align:center;">0.1496</td>
					<td style="text-align:center;">0.0757</td>
					<td style="text-align:center;">0.1385</td>
					<td style="text-align:center; color:green">84.18%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1985</td>
					<td style="text-align:center;">0.0691</td>
					<td style="text-align:center;">0.0953</td>
					<td style="text-align:center;">0.1047</td>
					<td style="text-align:center;">0.0496</td>
					<td style="text-align:center;">0.0752</td>
					<td style="text-align:center; color:red">-24.50%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1984</td>
					<td style="text-align:center;">0.0916</td>
					<td style="text-align:center;">0.0876</td>
					<td style="text-align:center;">0.1137</td>
					<td style="text-align:center;">0.0748</td>
					<td style="text-align:center;">0.0996</td>
					<td style="text-align:center; color:green">19.57%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1983</td>
					<td style="text-align:center;">0.1281</td>
					<td style="text-align:center;">0.0974</td>
					<td style="text-align:center;">0.2145</td>
					<td style="text-align:center;">0.0611</td>
					<td style="text-align:center;">0.0833</td>
					<td style="text-align:center; color:red">-18.49%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1982</td>
					<td style="text-align:center;">0.0655</td>
					<td style="text-align:center;">0.0752</td>
					<td style="text-align:center;">0.1158</td>
					<td style="text-align:center;">0.0376</td>
					<td style="text-align:center;">0.1022</td>
					<td style="text-align:center; color:green">35.01%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1981</td>
					<td style="text-align:center;">0.0831</td>
					<td style="text-align:center;">0.1180</td>
					<td style="text-align:center;">0.1180</td>
					<td style="text-align:center;">0.0487</td>
					<td style="text-align:center;">0.0757</td>
					<td style="text-align:center; color:red">-35.13%</td>
				 </tr>


				</tbody>
			  </table>'''

In [617]:
soup = BeautifulSoup(html_puro, 'html5lib')

In [618]:
table = soup.find('table',{'class':'historical_data_table table'}).find('tbody')

In [619]:
table

<tbody>





				<tr>
					<td style="text-align:center">2026</td>
					<td style="text-align:center;">261.9255</td>
					<td style="text-align:center;">270.7570</td>
					<td style="text-align:center;">277.8600</td>
					<td style="text-align:center;">246.4690</td>
					<td style="text-align:center;">255.3300</td>
					<td style="text-align:center; color:red">-5.99%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2025</td>
					<td style="text-align:center;">231.5630</td>
					<td style="text-align:center;">242.5250</td>
					<td style="text-align:center;">285.9220</td>
					<td style="text-align:center;">171.6720</td>
					<td style="text-align:center;">271.6060</td>
					<td style="text-align:center; color:green">9.05%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2024</td>
					<td style="text-align:center;">205.6467</td>
					<td style="text-align:center;">183.7310</td>
					<td style="text-align:center;">257.6130</td>
					<td style="text-align:center;">163.5120</td>
					<td style="text-align:center;">249.0590</td>
					<td style="text-align:center; color:green">30.70%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2023</td>
					<td style="text-align:center;">170.3514</td>
					<td style="text-align:center;">123.0960</td>
					<td style="text-align:center;">196.0730</td>
					<td style="text-align:center;">123.0470</td>
					<td style="text-align:center;">190.5510</td>
					<td style="text-align:center; color:green">49.01%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2022</td>
					<td style="text-align:center;">151.9453</td>
					<td style="text-align:center;">178.1040</td>
					<td style="text-align:center;">178.1040</td>
					<td style="text-align:center;">124.0510</td>
					<td style="text-align:center;">127.8790</td>
					<td style="text-align:center; color:red">-26.40%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2021</td>
					<td style="text-align:center;">137.5944</td>
					<td style="text-align:center;">125.8570</td>
					<td style="text-align:center;">176.4600</td>
					<td style="text-align:center;">113.3340</td>
					<td style="text-align:center;">173.7590</td>
					<td style="text-align:center; color:green">34.65%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2020</td>
					<td style="text-align:center;">92.4341</td>
					<td style="text-align:center;">72.4005</td>
					<td style="text-align:center;">132.9370</td>
					<td style="text-align:center;">54.2136</td>
					<td style="text-align:center;">129.0470</td>
					<td style="text-align:center; color:green">82.31%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2019</td>
					<td style="text-align:center;">49.9021</td>
					<td style="text-align:center;">37.5037</td>
					<td style="text-align:center;">70.7855</td>
					<td style="text-align:center;">33.7681</td>
					<td style="text-align:center;">70.7855</td>
					<td style="text-align:center; color:green">88.96%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2018</td>
					<td style="text-align:center;">44.5970</td>
					<td style="text-align:center;">40.3042</td>
					<td style="text-align:center;">54.9217</td>
					<td style="text-align:center;">34.8700</td>
					<td style="text-align:center;">37.4610</td>
					<td style="text-align:center; color:red">-5.39%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2017</td>
					<td style="text-align:center;">34.9814</td>
					<td style="text-align:center;">26.7459</td>
					<td style="text-align:center;">41.2775</td>
					<td style="text-align:center;">26.7159</td>
					<td style="text-align:center;">39.5952</td>
					<td style="text-align:center; color:green">48.46%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2016</td>
					<td style="text-align:center;">23.8554</td>
					<td style="text-align:center;">23.7309</td>
					<td style="text-align:center;">27.0903</td>
					<td style="text-align:center;">20.5848</td>
					<td style="text-align:center;">26.6699</td>
					<td style="text-align:center; color:green">12.48%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2015</td>
					<td style="text-align:center;">26.8196</td>
					<td style="text-align:center;">24.2149</td>
					<td style="text-align:center;">29.5945</td>
					<td style="text-align:center;">23.1296</td>
					<td style="text-align:center;">23.7107</td>
					<td style="text-align:center; color:red">-3.01%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2014</td>
					<td style="text-align:center;">20.2674</td>
					<td style="text-align:center;">17.1406</td>
					<td style="text-align:center;">26.3566</td>
					<td style="text-align:center;">15.4874</td>
					<td style="text-align:center;">24.4475</td>
					<td style="text-align:center; color:green">40.62%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2013</td>
					<td style="text-align:center;">14.4816</td>
					<td style="text-align:center;">16.5967</td>
					<td style="text-align:center;">17.6663</td>
					<td style="text-align:center;">11.8742</td>
					<td style="text-align:center;">17.3851</td>
					<td style="text-align:center; color:green">8.07%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2012</td>
					<td style="text-align:center;">17.3021</td>
					<td style="text-align:center;">12.3217</td>
					<td style="text-align:center;">21.1274</td>
					<td style="text-align:center;">12.3217</td>
					<td style="text-align:center;">16.0870</td>
					<td style="text-align:center; color:green">32.57%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2011</td>
					<td style="text-align:center;">10.9067</td>
					<td style="text-align:center;">9.8750</td>
					<td style="text-align:center;">12.6516</td>
					<td style="text-align:center;">9.4479</td>
					<td style="text-align:center;">12.1351</td>
					<td style="text-align:center; color:green">25.56%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2010</td>
					<td style="text-align:center;">7.7857</td>
					<td style="text-align:center;">6.4124</td>
					<td style="text-align:center;">9.7521</td>
					<td style="text-align:center;">5.7544</td>
					<td style="text-align:center;">9.6649</td>
					<td style="text-align:center; color:green">53.07%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2009</td>
					<td style="text-align:center;">4.3990</td>
					<td style="text-align:center;">2.7192</td>
					<td style="text-align:center;">6.3414</td>
					<td style="text-align:center;">2.3431</td>
					<td style="text-align:center;">6.3141</td>
					<td style="text-align:center; color:green">146.90%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2008</td>
					<td style="text-align:center;">4.2541</td>
					<td style="text-align:center;">5.8380</td>
					<td style="text-align:center;">5.8407</td>
					<td style="text-align:center;">2.4117</td>
					<td style="text-align:center;">2.5573</td>
					<td style="text-align:center; color:red">-56.91%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2007</td>
					<td style="text-align:center;">3.8435</td>
					<td style="text-align:center;">2.5109</td>
					<td style="text-align:center;">5.9875</td>
					<td style="text-align:center;">2.4950</td>
					<td style="text-align:center;">5.9351</td>
					<td style="text-align:center; color:green">133.47%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2006</td>
					<td style="text-align:center;">2.1217</td>
					<td style="text-align:center;">2.2397</td>
					<td style="text-align:center;">2.7509</td>
					<td style="text-align:center;">1.5182</td>
					<td style="text-align:center;">2.5421</td>
					<td style="text-align:center; color:green">18.02%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2005</td>
					<td style="text-align:center;">1.3986</td>
					<td style="text-align:center;">0.9482</td>
					<td style="text-align:center;">2.2467</td>
					<td style="text-align:center;">0.9482</td>
					<td style="text-align:center;">2.1540</td>
					<td style="text-align:center; color:green">123.26%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2004</td>
					<td style="text-align:center;">0.5322</td>
					<td style="text-align:center;">0.3188</td>
					<td style="text-align:center;">1.0253</td>
					<td style="text-align:center;">0.3188</td>
					<td style="text-align:center;">0.9648</td>
					<td style="text-align:center; color:green">201.41%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2003</td>
					<td style="text-align:center;">0.2778</td>
					<td style="text-align:center;">0.2217</td>
					<td style="text-align:center;">0.3718</td>
					<td style="text-align:center;">0.1966</td>
					<td style="text-align:center;">0.3201</td>
					<td style="text-align:center; color:green">49.09%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2002</td>
					<td style="text-align:center;">0.2867</td>
					<td style="text-align:center;">0.3491</td>
					<td style="text-align:center;">0.3912</td>
					<td style="text-align:center;">0.2036</td>
					<td style="text-align:center;">0.2147</td>
					<td style="text-align:center; color:red">-34.56%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2001</td>
					<td style="text-align:center;">0.3029</td>
					<td style="text-align:center;">0.2228</td>
					<td style="text-align:center;">0.3983</td>
					<td style="text-align:center;">0.2228</td>
					<td style="text-align:center;">0.3281</td>
					<td style="text-align:center; color:green">47.26%</td>
				 </tr>





				<tr>
					<td style="text-align:center">2000</td>
					<td style="text-align:center;">0.6848</td>
					<td style="text-align:center;">0.8385</td>
					<td style="text-align:center;">1.0801</td>
					<td style="text-align:center;">0.2097</td>
					<td style="text-align:center;">0.2228</td>
					<td style="text-align:center; color:red">-71.07%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1999</td>
					<td style="text-align:center;">0.4327</td>
					<td style="text-align:center;">0.3090</td>
					<td style="text-align:center;">0.8825</td>
					<td style="text-align:center;">0.2411</td>
					<td style="text-align:center;">0.7702</td>
					<td style="text-align:center; color:green">151.21%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1998</td>
					<td style="text-align:center;">0.2290</td>
					<td style="text-align:center;">0.1217</td>
					<td style="text-align:center;">0.3221</td>
					<td style="text-align:center;">0.1189</td>
					<td style="text-align:center;">0.3066</td>
					<td style="text-align:center; color:green">211.90%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1997</td>
					<td style="text-align:center;">0.1346</td>
					<td style="text-align:center;">0.1573</td>
					<td style="text-align:center;">0.2186</td>
					<td style="text-align:center;">0.0969</td>
					<td style="text-align:center;">0.0983</td>
					<td style="text-align:center; color:red">-37.15%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1996</td>
					<td style="text-align:center;">0.1867</td>
					<td style="text-align:center;">0.2406</td>
					<td style="text-align:center;">0.2622</td>
					<td style="text-align:center;">0.1264</td>
					<td style="text-align:center;">0.1564</td>
					<td style="text-align:center; color:red">-34.51%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1995</td>
					<td style="text-align:center;">0.3019</td>
					<td style="text-align:center;">0.2842</td>
					<td style="text-align:center;">0.3677</td>
					<td style="text-align:center;">0.2388</td>
					<td style="text-align:center;">0.2388</td>
					<td style="text-align:center; color:red">-17.31%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1994</td>
					<td style="text-align:center;">0.2508</td>
					<td style="text-align:center;">0.2182</td>
					<td style="text-align:center;">0.3194</td>
					<td style="text-align:center;">0.1849</td>
					<td style="text-align:center;">0.2888</td>
					<td style="text-align:center; color:green">35.14%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1993</td>
					<td style="text-align:center;">0.2973</td>
					<td style="text-align:center;">0.4203</td>
					<td style="text-align:center;">0.4690</td>
					<td style="text-align:center;">0.1646</td>
					<td style="text-align:center;">0.2137</td>
					<td style="text-align:center; color:red">-50.43%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1992</td>
					<td style="text-align:center;">0.3935</td>
					<td style="text-align:center;">0.4256</td>
					<td style="text-align:center;">0.5007</td>
					<td style="text-align:center;">0.3114</td>
					<td style="text-align:center;">0.4311</td>
					<td style="text-align:center; color:green">6.92%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1991</td>
					<td style="text-align:center;">0.3736</td>
					<td style="text-align:center;">0.3083</td>
					<td style="text-align:center;">0.5166</td>
					<td style="text-align:center;">0.2928</td>
					<td style="text-align:center;">0.4032</td>
					<td style="text-align:center; color:green">32.33%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1990</td>
					<td style="text-align:center;">0.2645</td>
					<td style="text-align:center;">0.2607</td>
					<td style="text-align:center;">0.3336</td>
					<td style="text-align:center;">0.1766</td>
					<td style="text-align:center;">0.3047</td>
					<td style="text-align:center; color:green">23.51%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1989</td>
					<td style="text-align:center;">0.2902</td>
					<td style="text-align:center;">0.2799</td>
					<td style="text-align:center;">0.3457</td>
					<td style="text-align:center;">0.2345</td>
					<td style="text-align:center;">0.2467</td>
					<td style="text-align:center; color:red">-11.58%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1988</td>
					<td style="text-align:center;">0.2866</td>
					<td style="text-align:center;">0.3076</td>
					<td style="text-align:center;">0.3261</td>
					<td style="text-align:center;">0.2504</td>
					<td style="text-align:center;">0.2790</td>
					<td style="text-align:center; color:red">-3.36%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1987</td>
					<td style="text-align:center;">0.2669</td>
					<td style="text-align:center;">0.1398</td>
					<td style="text-align:center;">0.4063</td>
					<td style="text-align:center;">0.1398</td>
					<td style="text-align:center;">0.2887</td>
					<td style="text-align:center; color:green">108.45%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1986</td>
					<td style="text-align:center;">0.1110</td>
					<td style="text-align:center;">0.0761</td>
					<td style="text-align:center;">0.1496</td>
					<td style="text-align:center;">0.0757</td>
					<td style="text-align:center;">0.1385</td>
					<td style="text-align:center; color:green">84.18%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1985</td>
					<td style="text-align:center;">0.0691</td>
					<td style="text-align:center;">0.0953</td>
					<td style="text-align:center;">0.1047</td>
					<td style="text-align:center;">0.0496</td>
					<td style="text-align:center;">0.0752</td>
					<td style="text-align:center; color:red">-24.50%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1984</td>
					<td style="text-align:center;">0.0916</td>
					<td style="text-align:center;">0.0876</td>
					<td style="text-align:center;">0.1137</td>
					<td style="text-align:center;">0.0748</td>
					<td style="text-align:center;">0.0996</td>
					<td style="text-align:center; color:green">19.57%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1983</td>
					<td style="text-align:center;">0.1281</td>
					<td style="text-align:center;">0.0974</td>
					<td style="text-align:center;">0.2145</td>
					<td style="text-align:center;">0.0611</td>
					<td style="text-align:center;">0.0833</td>
					<td style="text-align:center; color:red">-18.49%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1982</td>
					<td style="text-align:center;">0.0655</td>
					<td style="text-align:center;">0.0752</td>
					<td style="text-align:center;">0.1158</td>
					<td style="text-align:center;">0.0376</td>
					<td style="text-align:center;">0.1022</td>
					<td style="text-align:center; color:green">35.01%</td>
				 </tr>





				<tr>
					<td style="text-align:center">1981</td>
					<td style="text-align:center;">0.0831</td>
					<td style="text-align:center;">0.1180</td>
					<td style="text-align:center;">0.1180</td>
					<td style="text-align:center;">0.0487</td>
					<td style="text-align:center;">0.0757</td>
					<td style="text-align:center; color:red">-35.13%</td>
				 </tr>


				</tbody>

In [620]:
year=[] #Coletando dados de cada coluna e criando arrays. Vou deixar a coluna de % de crescimento de fora pois eu mesmo vou criar ela.
avg_stock_price=[]
year_open=[]
year_high=[]
year_low=[]
year_close=[]

linhas = table.find_all('tr')
for linha in linhas:
  dados=linha.find_all('td')
  year.append(dados[0].text)
  avg_stock_price.append(dados[1].text)
  year_open.append(dados[2].text)
  year_high.append(dados[3].text)
  year_low.append(dados[4].text)
  year_close.append(dados[5].text)

In [621]:
apple_stock = pd.DataFrame(year,columns=['year']) #criando dataframe com uma coluna para eu inserir as outras depois

In [622]:
apple_stock

    year
0   2026
1   2025
2   2024
3   2023
4   2022
5   2021
6   2020
7   2019
8   2018
9   2017
10  2016
11  2015
12  2014
13  2013
14  2012
15  2011
16  2010
17  2009
18  2008
19  2007
20  2006
21  2005
22  2004
23  2003
24  2002
25  2001
26  2000
27  1999
28  1998
29  1997
30  1996
31  1995
32  1994
33  1993
34  1992
35  1991
36  1990
37  1989
38  1988
39  1987
40  1986
41  1985
42  1984
43  1983
44  1982
45  1981

In [623]:
#criando colunas do dataframe
apple_stock = apple_stock.assign(avg_stock_price=avg_stock_price,
year_open=year_open,
year_high=year_high,
year_low=year_low,
year_close=year_close)

In [624]:
apple_stock.sort_values(by=['year'], ignore_index=True, inplace=True) #organizando os anos e os indíces e alterando a variável original

Deslocamento de dados. com o .shift eu desloco dados para baixo e passo a quantidade de indíces que quero deslocar(nesse caso =1). Para ilustrar isso, criei uma coluna com o stock price do ano anterior

In [625]:
apple_stock['last_year_close'] = apple_stock.year_close.shift(1)

In [626]:
apple_stock

,year,avg_stock_price,year_open,year_high,year_low,year_close,last_year_close
0,1981,0.0831,0.1180,0.1180,0.0487,0.0757,None
1,1982,0.0655,0.0752,0.1158,0.0376,0.1022,0.0757
2,1983,0.1281,0.0974,0.2145,0.0611,0.0833,0.1022
3,1984,0.0916,0.0876,0.1137,0.0748,0.0996,0.0833
4,1985,0.0691,0.0953,0.1047,0.0496,0.0752,0.0996
5,1986,0.1110,0.0761,0.1496,0.0757,0.1385,0.0752
6,1987,0.2669,0.1398,0.4063,0.1398,0.2887,0.1385
7,1988,0.2866,0.3076,0.3261,0.2504,0.2790,0.2887
8,1989,0.2902,0.2799,0.3457,0.2345,0.2467,0.2790
9,1990,0.2645,0.2607,0.3336,0.1766,0.3047,0.2467
10,1991,0.3736,0.3083,0.5166,0.2928,0.4032,0.3047
11,1992,0.3935,0.4256,0.5007,0.3114,0.4311,0.4032
12,1993,0.2973,0.4203,0.4690,0.1646,0.2137,0.4311
13,1994,0.2508,0.2182,0.3194,0.1849,0.2888,0.2137
14,1995,0.3019,0.2842,0.3677,0.2388,0.2388,0.2888
15,1996,0.1867,0.2406,0.2622,0.1264,0.1564,0.2388
16,1997,0.1346,0.1573,0.2186,0.0969,0.0983,0.1564
17,1998,0.2290,0.1217,0.3221,0.1189,0.3066,0.0983
18,1999,0.4327,0.3090,0.8825,0.2411,0.7702,0.3066
19,2000,0.6848,0.8385,1.0801,0.2097,0.2228,0.7702
20,2001,0.3029,0.2228,0.3983,0.2228,0.3281,0.2228
21,2002,0.2867,0.3491,0.3912,0.2036,0.2147,0.3281
22,2003,0.2778,0.2217,0.3718,0.1966,0.3201,0.2147
23,2004,0.5322,0.3188,1.0253,0.3188,0.9648,0.3201
24,2005,1.3986,0.9482,2.2467,0.9482,2.1540,0.9648
25,2006,2.1217,2.2397,2.7509,1.5182,2.5421,2.1540
26,2007,3.8435,2.5109,5.9875,2.4950,5.9351,2.5421
27,2008,4.2541,5.8380,5.8407,2.4117,2.5573,5.9351
28,2009,4.3990,2.7192,6.3414,2.3431,6.3141,2.5573
29,2010,7.7857,6.4124,9.7521,5.7544,9.6649,6.3141
30,2011,10.9067,9.8750,12.6516,9.4479,12.1351,9.6649
31,2012,17.3021,12.3217,21.1274,12.3217,16.0870,12.1351
32,2013,14.4816,16.5967,17.6663,11.8742,17.3851,16.0870
33,2014,20.2674,17.1406,26.3566,15.4874,24.4475,17.3851
34,2015,26.8196,24.2149,29.5945,23.1296,23.7107,24.4475
35,2016,23.8554,23.7309,27.0903,20.5848,26.6699,23.7107
36,2017,34.9814,26.7459,41.2775,26.7159,39.5952,26.6699
37,2018,44.5970,40.3042,54.9217,34.8700,37.4610,39.5952
38,2019,49.9021,37.5037,70.7855,33.7681,70.7855,37.4610
39,2020,92.4341,72.4005,132.9370,54.2136,129.0470,70.7855
40,2021,137.5944,125.8570,176.4600,113.3340,173.7590,129.0470
41,2022,151.9453,178.1040,178.1040,124.0510,127.8790,173.7590
42,2023,170.3514,123.0960,196.0730,123.0470,190.5510,127.8790
43,2024,205.6467,183.7310,257.6130,163.5120,249.0590,190.5510
44,2025,231.5630,242.5250,285.9220,171.6720,271.6060,249.0590
45,2026,261.9255,270.7570,277.8600,246.4690,255.3300,271.6060

Nova coluna com a diferença do stock price de um ano para o outro

In [627]:
apple_stock = apple_stock.astype(float)

In [628]:
apple_stock['alteracao_%'] = ((apple_stock['year_close']/apple_stock['last_year_close']-1)*100)

In [629]:
apple_stock

,year,avg_stock_price,year_open,year_high,year_low,year_close,last_year_close,alteracao_%
0,1981.0,0.0831,0.1180,0.1180,0.0487,0.0757,NaN,NaN
1,1982.0,0.0655,0.0752,0.1158,0.0376,0.1022,0.0757,35.006605
2,1983.0,0.1281,0.0974,0.2145,0.0611,0.0833,0.1022,-18.493151
3,1984.0,0.0916,0.0876,0.1137,0.0748,0.0996,0.0833,19.567827
4,1985.0,0.0691,0.0953,0.1047,0.0496,0.0752,0.0996,-24.497992
5,1986.0,0.1110,0.0761,0.1496,0.0757,0.1385,0.0752,84.175532
6,1987.0,0.2669,0.1398,0.4063,0.1398,0.2887,0.1385,108.447653
7,1988.0,0.2866,0.3076,0.3261,0.2504,0.2790,0.2887,-3.359889
8,1989.0,0.2902,0.2799,0.3457,0.2345,0.2467,0.2790,-11.577061
9,1990.0,0.2645,0.2607,0.3336,0.1766,0.3047,0.2467,23.510336
10,1991.0,0.3736,0.3083,0.5166,0.2928,0.4032,0.3047,32.326879
11,1992.0,0.3935,0.4256,0.5007,0.3114,0.4311,0.4032,6.919643
12,1993.0,0.2973,0.4203,0.4690,0.1646,0.2137,0.4311,-50.429135
13,1994.0,0.2508,0.2182,0.3194,0.1849,0.2888,0.2137,35.142723
14,1995.0,0.3019,0.2842,0.3677,0.2388,0.2388,0.2888,-17.313019
15,1996.0,0.1867,0.2406,0.2622,0.1264,0.1564,0.2388,-34.505863
16,1997.0,0.1346,0.1573,0.2186,0.0969,0.0983,0.1564,-37.148338
17,1998.0,0.2290,0.1217,0.3221,0.1189,0.3066,0.0983,211.902340
18,1999.0,0.4327,0.3090,0.8825,0.2411,0.7702,0.3066,151.206784
19,2000.0,0.6848,0.8385,1.0801,0.2097,0.2228,0.7702,-71.072449
20,2001.0,0.3029,0.2228,0.3983,0.2228,0.3281,0.2228,47.262118
21,2002.0,0.2867,0.3491,0.3912,0.2036,0.2147,0.3281,-34.562633
22,2003.0,0.2778,0.2217,0.3718,0.1966,0.3201,0.2147,49.091756
23,2004.0,0.5322,0.3188,1.0253,0.3188,0.9648,0.3201,201.405811
24,2005.0,1.3986,0.9482,2.2467,0.9482,2.1540,0.9648,123.258706
25,2006.0,2.1217,2.2397,2.7509,1.5182,2.5421,2.1540,18.017642
26,2007.0,3.8435,2.5109,5.9875,2.4950,5.9351,2.5421,133.472326
27,2008.0,4.2541,5.8380,5.8407,2.4117,2.5573,5.9351,-56.912268
28,2009.0,4.3990,2.7192,6.3414,2.3431,6.3141,2.5573,146.904939
29,2010.0,7.7857,6.4124,9.7521,5.7544,9.6649,6.3141,53.068529
30,2011.0,10.9067,9.8750,12.6516,9.4479,12.1351,9.6649,25.558464
31,2012.0,17.3021,12.3217,21.1274,12.3217,16.0870,12.1351,32.565863
32,2013.0,14.4816,16.5967,17.6663,11.8742,17.3851,16.0870,8.069248
33,2014.0,20.2674,17.1406,26.3566,15.4874,24.4475,17.3851,40.623292
34,2015.0,26.8196,24.2149,29.5945,23.1296,23.7107,24.4475,-3.013805
35,2016.0,23.8554,23.7309,27.0903,20.5848,26.6699,23.7107,12.480441
36,2017.0,34.9814,26.7459,41.2775,26.7159,39.5952,26.6699,48.463999
37,2018.0,44.5970,40.3042,54.9217,34.8700,37.4610,39.5952,-5.390047
38,2019.0,49.9021,37.5037,70.7855,33.7681,70.7855,37.4610,88.957849
39,2020.0,92.4341,72.4005,132.9370,54.2136,129.0470,70.7855,82.307111
40,2021.0,137.5944,125.8570,176.4600,113.3340,173.7590,129.0470,34.647841
41,2022.0,151.9453,178.1040,178.1040,124.0510,127.8790,173.7590,-26.404388
42,2023.0,170.3514,123.0960,196.0730,123.0470,190.5510,127.8790,49.008829
43,2024.0,205.6467,183.7310,257.6130,163.5120,249.0590,190.5510,30.704641
44,2025.0,231.5630,242.5250,285.9220,171.6720,271.6060,249.0590,9.052875
45,2026.0,261.9255,270.7570,277.8600,246.4690,255.3300,271.6060,-5.992504

In [630]:
apple_stock.year = apple_stock.year.astype(int)

In [631]:
apple_stock.fillna(0, inplace=True)

In [632]:
apple_stock

,year,avg_stock_price,year_open,year_high,year_low,year_close,last_year_close,alteracao_%
0,1981,0.0831,0.1180,0.1180,0.0487,0.0757,0.0000,0.000000
1,1982,0.0655,0.0752,0.1158,0.0376,0.1022,0.0757,35.006605
2,1983,0.1281,0.0974,0.2145,0.0611,0.0833,0.1022,-18.493151
3,1984,0.0916,0.0876,0.1137,0.0748,0.0996,0.0833,19.567827
4,1985,0.0691,0.0953,0.1047,0.0496,0.0752,0.0996,-24.497992
5,1986,0.1110,0.0761,0.1496,0.0757,0.1385,0.0752,84.175532
6,1987,0.2669,0.1398,0.4063,0.1398,0.2887,0.1385,108.447653
7,1988,0.2866,0.3076,0.3261,0.2504,0.2790,0.2887,-3.359889
8,1989,0.2902,0.2799,0.3457,0.2345,0.2467,0.2790,-11.577061
9,1990,0.2645,0.2607,0.3336,0.1766,0.3047,0.2467,23.510336
10,1991,0.3736,0.3083,0.5166,0.2928,0.4032,0.3047,32.326879
11,1992,0.3935,0.4256,0.5007,0.3114,0.4311,0.4032,6.919643
12,1993,0.2973,0.4203,0.4690,0.1646,0.2137,0.4311,-50.429135
13,1994,0.2508,0.2182,0.3194,0.1849,0.2888,0.2137,35.142723
14,1995,0.3019,0.2842,0.3677,0.2388,0.2388,0.2888,-17.313019
15,1996,0.1867,0.2406,0.2622,0.1264,0.1564,0.2388,-34.505863
16,1997,0.1346,0.1573,0.2186,0.0969,0.0983,0.1564,-37.148338
17,1998,0.2290,0.1217,0.3221,0.1189,0.3066,0.0983,211.902340
18,1999,0.4327,0.3090,0.8825,0.2411,0.7702,0.3066,151.206784
19,2000,0.6848,0.8385,1.0801,0.2097,0.2228,0.7702,-71.072449
20,2001,0.3029,0.2228,0.3983,0.2228,0.3281,0.2228,47.262118
21,2002,0.2867,0.3491,0.3912,0.2036,0.2147,0.3281,-34.562633
22,2003,0.2778,0.2217,0.3718,0.1966,0.3201,0.2147,49.091756
23,2004,0.5322,0.3188,1.0253,0.3188,0.9648,0.3201,201.405811
24,2005,1.3986,0.9482,2.2467,0.9482,2.1540,0.9648,123.258706
25,2006,2.1217,2.2397,2.7509,1.5182,2.5421,2.1540,18.017642
26,2007,3.8435,2.5109,5.9875,2.4950,5.9351,2.5421,133.472326
27,2008,4.2541,5.8380,5.8407,2.4117,2.5573,5.9351,-56.912268
28,2009,4.3990,2.7192,6.3414,2.3431,6.3141,2.5573,146.904939
29,2010,7.7857,6.4124,9.7521,5.7544,9.6649,6.3141,53.068529
30,2011,10.9067,9.8750,12.6516,9.4479,12.1351,9.6649,25.558464
31,2012,17.3021,12.3217,21.1274,12.3217,16.0870,12.1351,32.565863
32,2013,14.4816,16.5967,17.6663,11.8742,17.3851,16.0870,8.069248
33,2014,20.2674,17.1406,26.3566,15.4874,24.4475,17.3851,40.623292
34,2015,26.8196,24.2149,29.5945,23.1296,23.7107,24.4475,-3.013805
35,2016,23.8554,23.7309,27.0903,20.5848,26.6699,23.7107,12.480441
36,2017,34.9814,26.7459,41.2775,26.7159,39.5952,26.6699,48.463999
37,2018,44.5970,40.3042,54.9217,34.8700,37.4610,39.5952,-5.390047
38,2019,49.9021,37.5037,70.7855,33.7681,70.7855,37.4610,88.957849
39,2020,92.4341,72.4005,132.9370,54.2136,129.0470,70.7855,82.307111
40,2021,137.5944,125.8570,176.4600,113.3340,173.7590,129.0470,34.647841
41,2022,151.9453,178.1040,178.1040,124.0510,127.8790,173.7590,-26.404388
42,2023,170.3514,123.0960,196.0730,123.0470,190.5510,127.8790,49.008829
43,2024,205.6467,183.7310,257.6130,163.5120,249.0590,190.5510,30.704641
44,2025,231.5630,242.5250,285.9220,171.6720,271.6060,249.0590,9.052875
45,2026,261.9255,270.7570,277.8600,246.4690,255.3300,271.6060,-5.992504

In [633]:
apple_stock.describe(include='all')

,year,avg_stock_price,year_open,year_high,year_low,year_close,last_year_close,alteracao_%
count,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000
mean,2003.500000,33.146030,31.120570,40.189417,26.174889,36.985363,31.434711,33.531654
std,13.422618,66.951617,65.845119,79.327205,55.067012,74.285878,66.767243,64.000646
min,1981.000000,0.065500,0.075200,0.104700,0.037600,0.075200,0.000000,-71.072449
25%,1992.250000,0.269625,0.227250,0.336625,0.178675,0.240775,0.226800,-5.841890
50%,2003.500000,0.608500,0.632050,1.052700,0.315100,0.867500,0.600650,24.534400
75%,2014.750000,22.958400,22.083325,26.906875,19.310450,24.263300,22.129300,49.071024
max,2026.000000,261.925500,270.757000,285.922000,246.469000,271.606000,271.606000,211.902340

Transformar dados categóricos/qualitativos em dados numéricos

In [634]:
dados = pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/refs/heads/master/atp_matches_2021.csv')

In [635]:
dados

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,2021-9210,Laver Cup,Hard,8,A,20210924,102,126610,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5173.0,11.0,3368.0
2729,2021-9210,Laver Cup,Hard,8,A,20210924,103,106421,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,10575.0,12.0,3310.0
2730,2021-9210,Laver Cup,Hard,8,A,20210924,104,126094,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,6130.0,15.0,2800.0
2731,2021-9210,Laver Cup,Hard,8,A,20210924,105,100644,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,7760.0,22.0,2171.0
2732,2021-9210,Laver Cup,Hard,8,A,20210924,106,134770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,3440.0,19.0,2341.0

In [636]:
dados.winner_ioc #coluna categórica que mostra o país do jogador vencedor

0       USA
1       GER
2       IND
3       AUS
4       CZE
       ...
2728    ITA
2729    RUS
2730    RUS
2731    GER
2732    NOR
Name: winner_ioc, Length: 2733, dtype: object

Para isso, vou usar a biblioteca scikit learn, e nos recurso de pre processamento, vou usar a classe label encoder.

In [637]:
from sklearn.preprocessing import LabelEncoder

In [638]:
paises=dados.winner_ioc

In [639]:
paises #lista com os países

0       USA
1       GER
2       IND
3       AUS
4       CZE
       ...
2728    ITA
2729    RUS
2730    RUS
2731    GER
2732    NOR
Name: winner_ioc, Length: 2733, dtype: object

In [640]:
lencoder = LabelEncoder()

In [641]:
paises_numericos = lencoder.fit_transform(paises) #passo a variável países no fit_transform e insiro ela na lista países númericos
paises_numericos

array([57, 24, 28, ..., 45, 24, 38])

Podemos observar que USA recebeu o número 57, GERMANY recebeu 24, e assim por diante.

In [642]:
dados['winner_ioc_numeric'] = paises_numericos

In [643]:
dados

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,winner_ioc_numeric
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0,57
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0,24
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0,28
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0,1
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,2021-9210,Laver Cup,Hard,8,A,20210924,102,126610,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,5173.0,11.0,3368.0,30
2729,2021-9210,Laver Cup,Hard,8,A,20210924,103,106421,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,10575.0,12.0,3310.0,45
2730,2021-9210,Laver Cup,Hard,8,A,20210924,104,126094,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,6130.0,15.0,2800.0,45
2731,2021-9210,Laver Cup,Hard,8,A,20210924,105,100644,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,7760.0,22.0,2171.0,24
2732,2021-9210,Laver Cup,Hard,8,A,20210924,106,134770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,3440.0,19.0,2341.0,38